@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;

  --text-sm-plus: 15px;

  --color-brand: #6366f1;
  --color-brand-hover: #4f46e5;
  --color-brand-glow: rgba(99, 102, 241, 0.5);

  --shadow-glow: 0 0 20px -5px rgba(99, 102, 241, 0.3);
}

* {
  scrollbar-width: thin !important;
}