@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;

  --text-sm-plus: 15px;

  --color-brand: #6366f1;
  --color-brand-hover: #4f46e5;
  --color-brand-glow: rgba(99, 102, 241, 0.5);

  --shadow-glow: 0 0 20px -5px rgba(99, 102, 241, 0.3);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar-html::-webkit-scrollbar-track {
  background: #080808 !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #27272a;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #3f3f46;
}